/* Font declarations for AvertaStd */
@font-face {
  font-family: "AvertaStd";
  src: url("/assets/fonts/AvertaStd-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/assets/fonts/AvertaStd-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/assets/fonts/AvertaStd-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/assets/fonts/AvertaStd-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/assets/fonts/AvertaStd-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/assets/fonts/AvertaStd-ThinItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/assets/fonts/AvertaStd-Extrathin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/assets/fonts/AvertaStd-ExtrathinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/assets/fonts/AvertaStd-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/assets/fonts/AvertaStd-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/assets/fonts/AvertaStd-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/assets/fonts/AvertaStd-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/assets/fonts/AvertaStd-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/assets/fonts/AvertaStd-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/assets/fonts/AvertaStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  src: url("/assets/fonts/AvertaStd-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
